<div class='topic_summary'>
  <div class='summary_title row'>
    <div class='column-60 summary_topic'><a href='threads/dark_souls_3/pyro...'><%= summary_title %></a></div><!--
    --><div class='column-40 summary_author'><a href='/threads/dark_souls_3'><%= summary_thread %><a> - <a href='/users/aldrich'><%= summary_user %></a></div>
  </div>
  <div class='summary_info row'>
    <div class='column-80'><%= summary_content %></div><!--
    --><div class='column-20'>
      <p><%= summary_date %></p>
      <p><%= summary_comments %> comments</p>
    </div>
  </div>
</div>
